In [6]:
import pandas as pd
import numpy as np
from itertools import combinations, product
from ast import literal_eval

In [7]:
atp_2015 = pd.read_csv("atp_2015.csv")

In [8]:
frames = [atp_2015["winner_name"],atp_2015["loser_name"]]

In [9]:
results = pd.concat(frames)

In [10]:
players = results.unique()

In [11]:
atp_2015_win_lose = atp_2015[['winner_name','loser_name']]

In [12]:
atp_2015_win_lose = atp_2015_win_lose.dropna(axis=0,how="any")

In [13]:
atp_2015_opponents_win = atp_2015_win_lose.groupby("winner_name")["loser_name"].apply(list)
atp_2015_opponents_loss = atp_2015_win_lose.groupby("loser_name")["winner_name"].apply(list)
atp_2015_opponents_loss = pd.DataFrame(atp_2015_opponents_loss)
atp_2015_opponents_loss = atp_2015_opponents_loss.reset_index()
atp_2015_opponents_win = pd.DataFrame(atp_2015_opponents_win)
atp_2015_opponents_win = atp_2015_opponents_win.reset_index()
atp_2015_opponents_win = atp_2015_opponents_win.rename(index=str, columns={"winner_name": "name","loser_name":"wins"})
atp_2015_opponents_loss = atp_2015_opponents_loss.rename(index=str, columns={"loser_name": "name","winner_name":"losses"})

In [9]:
merge_table = pd.merge(atp_2015_opponents_loss, atp_2015_opponents_win, on="name", how="outer")
merge_table.to_csv("merge_table.csv")

In [28]:
##i manually changed the csv..dont judge :P

In [16]:
del merge_table["Unnamed: 0"]

In [15]:
merge_table = pd.read_csv("merge_table.csv")
merge_table.head()

,Unnamed: 0,name,losses,wins
0,0,Adrian Mannarino,"['Steve Darcis', 'Andreas Seppi', 'John Isner'...","['Michael Berrer', 'Mischa Zverev', 'Fabio Fog..."
1,1,Adrian Menendez Maceiras,"['Paolo Lorenzi', 'Tim Smyczek', 'Bernard Tomi...",['Alejandro Gonzalez']
2,2,Adrien Bossel,['Dustin Brown'],['Bye']
3,3,Albert Montanes,"['David Ferrer', 'Thomaz Bellucci', 'Pablo Cue...","['Ricardas Berankis', 'Facundo Arguello', 'San..."
4,4,Albert Ramos,"['Nick Kyrgios', 'Jo Wilfried Tsonga', 'Pablo ...","['Sam Querrey', 'Roger Federer', 'Denis Istomi..."

In [18]:
# merge_table["losses"] = literal_eval(merge_table["losses"].values)

##fun fact: the lists are strings and not lists! this changes it back (necessary for later stuff)

In [17]:
merge_table.loc[:,'losses'] = merge_table.loc[:,'losses'].apply(lambda x: literal_eval(x))

In [18]:
merge_table.loc[:,'wins'] = merge_table.loc[:,'wins'].apply(lambda x: literal_eval(x))

In [16]:
del merge_table["Unnamed: 0"]

In [19]:
merge_table.head()

,name,losses,wins
0,Adrian Mannarino,"[Steve Darcis, Andreas Seppi, John Isner, Domi...","[Michael Berrer, Mischa Zverev, Fabio Fognini,..."
1,Adrian Menendez Maceiras,"[Paolo Lorenzi, Tim Smyczek, Bernard Tomic, Al...",[Alejandro Gonzalez]
2,Adrien Bossel,[Dustin Brown],[Bye]
3,Albert Montanes,"[David Ferrer, Thomaz Bellucci, Pablo Cuevas, ...","[Ricardas Berankis, Facundo Arguello, Santiago..."
4,Albert Ramos,"[Nick Kyrgios, Jo Wilfried Tsonga, Pablo Anduj...","[Sam Querrey, Roger Federer, Denis Istomin, Vi..."

In [20]:
prod = list(product(atp_2015_win_lose['loser_name'].unique(), atp_2015_win_lose['loser_name'].unique()))

In [21]:
len(prod)

79524

In [22]:
all_possible_matches = pd.DataFrame(prod)

In [23]:
all_possible_matches.head()

                0                   1
0  Radek Stepanek      Radek Stepanek
1  Radek Stepanek  Yoshihito Nishioka
2  Radek Stepanek       Matthew Ebden
3  Radek Stepanek     Feliciano Lopez
4  Radek Stepanek     Mikhail Youzhny

In [24]:
all_possible_matches = all_possible_matches.rename(index=str, columns={0: "player_1",1:"player_2"})

In [25]:
all_possible_matches = all_possible_matches.drop(all_possible_matches[all_possible_matches.player_1 == all_possible_matches.player_2].index)

In [26]:
all_possible_matches

               player_1                  player_2
1        Radek Stepanek        Yoshihito Nishioka
2        Radek Stepanek             Matthew Ebden
3        Radek Stepanek           Feliciano Lopez
4        Radek Stepanek           Mikhail Youzhny
5        Radek Stepanek         Yasutaka Uchiyama
6        Radek Stepanek              Samuel Groth
7        Radek Stepanek            Kevin Anderson
8        Radek Stepanek           Grigor Dimitrov
9        Radek Stepanek         Fernando Verdasco
10       Radek Stepanek              Albert Ramos
11       Radek Stepanek           Richard Gasquet
12       Radek Stepanek              Donald Young
13       Radek Stepanek             Bernard Tomic
14       Radek Stepanek       Alexandr Dolgopolov
15       Radek Stepanek               Borna Coric
16       Radek Stepanek               Tatsuma Ito
17       Radek Stepanek                Joao Sousa
18       Radek Stepanek               Jiri Vesely
19       Radek Stepanek             Jeremy Chardy
20       Radek Stepanek          Marcos Baghdatis
21       Radek Stepanek     Roberto Bautista Agut
22       Radek Stepanek             Steve Johnson
23       Radek Stepanek               Sam Querrey
24       Radek Stepanek           Austin Krajicek
25       Radek Stepanek              Gilles Simon
26       Radek Stepanek              Nick Kyrgios
27       Radek Stepanek               Marin Cilic
28       Radek Stepanek             Gilles Muller
29       Radek Stepanek             Kei Nishikori
30       Radek Stepanek              Benoit Paire
...                 ...                       ...
79493  Germain Gigounon               Taro Daniel
79494  Germain Gigounon             Daniel Brands
79495  Germain Gigounon              Antonio Veic
79496  Germain Gigounon        Mikhail Ledovskikh
79497  Germain Gigounon            Farrukh Dustov
79498  Germain Gigounon               Darian King
79499  Germain Gigounon       Christopher Eubanks
79500  Germain Gigounon    Inigo Cervantes Huegun
79501  Germain Gigounon             Federico Gaio
79502  Germain Gigounon             Matteo Donati
79503  Germain Gigounon              Andreas Beck
79504  Germain Gigounon         Benjamin Balleret
79505  Germain Gigounon           Jabor Al Mutawa
79506  Germain Gigounon            Mohamed Safwat
79507  Germain Gigounon          Yassine Idmbarek
79508  Germain Gigounon           Arthur De Greef
79509  Germain Gigounon             Lamine Ouahab
79510  Germain Gigounon            Aslan Karatsev
79511  Germain Gigounon        Jose Rubin Statham
79512  Germain Gigounon                David Guez
79513  Germain Gigounon                Mate Pavic
79514  Germain Gigounon        Constant Lestienne
79515  Germain Gigounon            Martin Fischer
79516  Germain Gigounon  Frederico Ferreira Silva
79517  Germain Gigounon              Gastao Elias
79518  Germain Gigounon      David Vega Hernandez
79519  Germain Gigounon               Rui Machado
79520  Germain Gigounon            Yaraslau Shyla
79521  Germain Gigounon       Alexandre Sidorenko
79522  Germain Gigounon              Eric Quigley

[79242 rows x 2 columns]

In [ ]:
# all_possible_matches["player_1_wins"] = merge_table.loc([merge_table['name'] == all_possible_matches["player_1"], ['wins']])

In [27]:
merge_table_test = merge_table.rename(index=str, columns = {"name":"player_1"})

In [28]:
merge_table_test.head()

,player_1,losses,wins
0,Adrian Mannarino,"[Steve Darcis, Andreas Seppi, John Isner, Domi...","[Michael Berrer, Mischa Zverev, Fabio Fognini,..."
1,Adrian Menendez Maceiras,"[Paolo Lorenzi, Tim Smyczek, Bernard Tomic, Al...",[Alejandro Gonzalez]
2,Adrien Bossel,[Dustin Brown],[Bye]
3,Albert Montanes,"[David Ferrer, Thomaz Bellucci, Pablo Cuevas, ...","[Ricardas Berankis, Facundo Arguello, Santiago..."
4,Albert Ramos,"[Nick Kyrgios, Jo Wilfried Tsonga, Pablo Anduj...","[Sam Querrey, Roger Federer, Denis Istomin, Vi..."

In [29]:
all_possible_matches.head()

         player_1            player_2
1  Radek Stepanek  Yoshihito Nishioka
2  Radek Stepanek       Matthew Ebden
3  Radek Stepanek     Feliciano Lopez
4  Radek Stepanek     Mikhail Youzhny
5  Radek Stepanek   Yasutaka Uchiyama

In [30]:
matching_merge = pd.merge(all_possible_matches,merge_table_test, on = "player_1", how = "outer")

In [31]:
matching_merge.head()

,player_1,player_2,losses,wins
0,Radek Stepanek,Yoshihito Nishioka,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
1,Radek Stepanek,Matthew Ebden,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
2,Radek Stepanek,Feliciano Lopez,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
3,Radek Stepanek,Mikhail Youzhny,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
4,Radek Stepanek,Yasutaka Uchiyama,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."

In [32]:
matching_merge = matching_merge.rename(index = str, columns = {"losses": "player_1_losses","wins": "player_1_wins"})

In [33]:
matching_merge.head()

,player_1,player_2,player_1_losses,player_1_wins
0,Radek Stepanek,Yoshihito Nishioka,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
1,Radek Stepanek,Matthew Ebden,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
2,Radek Stepanek,Feliciano Lopez,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
3,Radek Stepanek,Mikhail Youzhny,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."
4,Radek Stepanek,Yasutaka Uchiyama,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel..."

In [33]:
merge_table_test = merge_table.rename(index=str, columns = {"name":"player_2"})

In [34]:
merge_table_test.head()

,player_2,losses,wins
0,Adrian Mannarino,"[Steve Darcis, Andreas Seppi, John Isner, Domi...","[Michael Berrer, Mischa Zverev, Fabio Fognini,..."
1,Adrian Menendez Maceiras,"[Paolo Lorenzi, Tim Smyczek, Bernard Tomic, Al...",[Alejandro Gonzalez]
2,Adrien Bossel,[Dustin Brown],[Bye]
3,Albert Montanes,"[David Ferrer, Thomaz Bellucci, Pablo Cuevas, ...","[Ricardas Berankis, Facundo Arguello, Santiago..."
4,Albert Ramos,"[Nick Kyrgios, Jo Wilfried Tsonga, Pablo Anduj...","[Sam Querrey, Roger Federer, Denis Istomin, Vi..."

In [35]:
matching_merge_1 = pd.merge(all_possible_matches,merge_table_test, on = "player_2", how = "outer")

In [36]:
matching_merge_1 = matching_merge_1.rename(index = str, columns = {"losses": "player_2_losses","wins": "player_2_wins"})

In [37]:
matching_merge_1.head()

,player_1,player_2,player_2_losses,player_2_wins
0,Radek Stepanek,Yoshihito Nishioka,"[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."
1,Matthew Ebden,Yoshihito Nishioka,"[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."
2,Feliciano Lopez,Yoshihito Nishioka,"[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."
3,Mikhail Youzhny,Yoshihito Nishioka,"[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."
4,Yasutaka Uchiyama,Yoshihito Nishioka,"[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."

In [38]:
attempt_merge = pd.merge(matching_merge, matching_merge_1,  how='left', left_on=['player_1','player_2'], right_on = ['player_1','player_2'])

In [39]:
##i dont know why there are NAs

attempt_merge1 = attempt_merge.dropna(axis=0,how="any")

In [50]:
del attempt_merge1["player_1_losses_in_player_2_wins"]
del attempt_merge1["player_2_losses_in_player_1_wins"]
del attempt_merge1["player_1_wins_in_player_2_wins"]
del attempt_merge1["player_1_losses_in_player_2_losses"]

In [56]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins
0,Radek Stepanek,Yoshihito Nishioka,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma..."
1,Radek Stepanek,Matthew Ebden,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Austin Krajicek, John Isner, Tatsuma Ito, Gri...",[Blaz Rola]
2,Radek Stepanek,Feliciano Lopez,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Joao Sousa, Roger Federer, Novak Djokovic, Vi...","[Milos Raonic, Andreas Seppi, Rafael Nadal, An..."
3,Radek Stepanek,Mikhail Youzhny,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Gilles Simon, Bastian Trinker, Thomaz Bellucc...","[Viktor Troicki, Gilles Simon, Andrey Golubev,..."
4,Radek Stepanek,Yasutaka Uchiyama,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Jiri Vesely, Vasek Pospisil]",[Bye]

In [42]:
attempt_merge1['player_1_losses_in_player_2_wins'] = [(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_wins)]
attempt_merge1['player_2_losses_in_player_1_wins'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_2_losses,attempt_merge1.player_1_wins)]

In [44]:
attempt_merge1['player_1_wins_in_player_2_wins'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_1_wins,attempt_merge1.player_2_wins)]
attempt_merge1['player_1_losses_in_player_2_losses'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_losses)]

In [60]:
#[list(len(a+b)) for a, b in zip(attempt_merge1.player_1_losses_in_player_2_wins,attempt_merge1.player_2_losses_in_player_1_wins)]

In [57]:
##for the numbers
attempt_merge1['player_1_losses_in_player_2_wins'] = [len((list(set(a).intersection(set(b))))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_wins)]
attempt_merge1['player_2_losses_in_player_1_wins'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_2_losses,attempt_merge1.player_1_wins)]
attempt_merge1['player_1_wins_in_player_2_wins'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_wins,attempt_merge1.player_2_wins)]
attempt_merge1['player_1_losses_in_player_2_losses'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_losses)]

In [63]:
attempt_merge1["parameters_value"] = [a/(a+b) for a, b in zip(attempt_merge1.player_1_losses_in_player_2_wins,attempt_merge1.player_2_losses_in_player_1_wins)]

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  """Entry point for launching an IPython kernel.

In [64]:
attempt_merge1.head()

In [66]:
final_merge_thing_help = attempt_merge1.fillna(0)

In [69]:
final_merge_thing_help.to_csv("matchups_parameters.csv")

In [62]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses
0,Radek Stepanek,Yoshihito Nishioka,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Tatsuma Ito, Thomaz Bellucci, Alexander Zvere...","[Paul Henri Mathieu, Igor Sijsling, Marinko Ma...",0,0,0,1
1,Radek Stepanek,Matthew Ebden,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Austin Krajicek, John Isner, Tatsuma Ito, Gri...",[Blaz Rola],0,0,0,1
2,Radek Stepanek,Feliciano Lopez,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Joao Sousa, Roger Federer, Novak Djokovic, Vi...","[Milos Raonic, Andreas Seppi, Rafael Nadal, An...",2,1,2,4
3,Radek Stepanek,Mikhail Youzhny,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Gilles Simon, Bastian Trinker, Thomaz Bellucc...","[Viktor Troicki, Gilles Simon, Andrey Golubev,...",0,0,0,2
4,Radek Stepanek,Yasutaka Uchiyama,"[Stanislas Wawrinka, Aljaz Bedene, David Ferre...","[Yuichi Sugita, Edouard Roger Vasselin, Samuel...","[Jiri Vesely, Vasek Pospisil]",[Bye],0,0,0,0