In [2]:
import pandas as pd
import numpy as np
from itertools import combinations, product
from ast import literal_eval

In [3]:
##atp_2015 is now atp_2017 but the variable name has not changed
##atp_2015 is now atp_2017 but the variable name has not changed
##atp_2015 is now atp_2017 but the variable name has not changed

In [4]:
atp_2015 = pd.read_csv("atp_2017.csv")

In [5]:
frames = [atp_2015["winner_name"],atp_2015["loser_name"]]

In [6]:
results = pd.concat(frames)

In [7]:
players = results.unique()

In [8]:
atp_2015_win_lose = atp_2015[['winner_name','loser_name']]

In [9]:
atp_2015_win_lose = atp_2015_win_lose.dropna(axis=0,how="any")

In [10]:
atp_2015_opponents_win = atp_2015_win_lose.groupby("winner_name")["loser_name"].apply(list)
atp_2015_opponents_loss = atp_2015_win_lose.groupby("loser_name")["winner_name"].apply(list)
atp_2015_opponents_loss = pd.DataFrame(atp_2015_opponents_loss)
atp_2015_opponents_loss = atp_2015_opponents_loss.reset_index()
atp_2015_opponents_win = pd.DataFrame(atp_2015_opponents_win)
atp_2015_opponents_win = atp_2015_opponents_win.reset_index()
atp_2015_opponents_win = atp_2015_opponents_win.rename(index=str, columns={"winner_name": "name","loser_name":"wins"})
atp_2015_opponents_loss = atp_2015_opponents_loss.rename(index=str, columns={"loser_name": "name","winner_name":"losses"})

In [11]:
merge_table = pd.merge(atp_2015_opponents_loss, atp_2015_opponents_win, on="name", how="outer")
merge_table.to_csv("merge_table_4.csv")

In [28]:
##i manually changed the csv..dont judge :P
##the players with no wins need to win ["bye"]

In [12]:
merge_table = pd.read_csv("merge_table_3.csv")
del merge_table["Unnamed: 0"]
merge_table.head()

,name,losses,wins
0,Abdullah Maqdas,"['Jirat Navasirisomboon', 'Wishaya Trongcharoe...",['Bye']
1,Adam Hornby,['Christopher Diaz Figueroa'],['Bye']
2,Adam Pavlasek,"['Jeremy Chardy', 'Nikoloz Basilashvili', 'Rya...","['Roberto Carballes Baena', 'Marcel Granollers..."
3,Aditya Hari Sasongko,['Ruben Gonzales'],['Bye']
4,Adrian Mannarino,"['Nicolas Mahut', 'Samuel Groth', 'Roberto Bau...","['Marius Copil', 'Evgeny Donskoy', 'Tatsuma It..."

In [13]:
##fun fact: the lists are strings and not lists! this changes it back (necessary for later stuff)
merge_table.loc[:,'losses'] = merge_table.loc[:,'losses'].apply(lambda x: literal_eval(x))
merge_table.loc[:,'wins'] = merge_table.loc[:,'wins'].apply(lambda x: literal_eval(x))

In [14]:
merge_table.head()

,name,losses,wins
0,Abdullah Maqdas,"[Jirat Navasirisomboon, Wishaya Trongcharoench...",[Bye]
1,Adam Hornby,[Christopher Diaz Figueroa],[Bye]
2,Adam Pavlasek,"[Jeremy Chardy, Nikoloz Basilashvili, Ryan Har...","[Roberto Carballes Baena, Marcel Granollers, M..."
3,Aditya Hari Sasongko,[Ruben Gonzales],[Bye]
4,Adrian Mannarino,"[Nicolas Mahut, Samuel Groth, Roberto Bautista...","[Marius Copil, Evgeny Donskoy, Tatsuma Ito, Ma..."

In [15]:
prod = list(product(atp_2015_win_lose['loser_name'].unique(), atp_2015_win_lose['loser_name'].unique()))

In [16]:
len(prod)

173056

In [17]:
all_possible_matches = pd.DataFrame(prod)

In [18]:
all_possible_matches.head()

               0                   1
0  Kei Nishikori       Kei Nishikori
1  Kei Nishikori        Milos Raonic
2  Kei Nishikori  Stanislas Wawrinka
3  Kei Nishikori        Rafael Nadal
4  Kei Nishikori       Dominic Thiem

In [19]:
all_possible_matches = all_possible_matches.rename(index=str, columns={0: "player_1",1:"player_2"})

In [20]:
all_possible_matches = all_possible_matches.drop(all_possible_matches[all_possible_matches.player_1 == all_possible_matches.player_2].index)

In [21]:
all_possible_matches.head()

        player_1            player_2
1  Kei Nishikori        Milos Raonic
2  Kei Nishikori  Stanislas Wawrinka
3  Kei Nishikori        Rafael Nadal
4  Kei Nishikori       Dominic Thiem
5  Kei Nishikori     Jordan Thompson

In [22]:
# all_possible_matches["player_1_wins"] = merge_table.loc([merge_table['name'] == all_possible_matches["player_1"], ['wins']])

In [23]:
merge_table_test = merge_table.rename(index=str, columns = {"name":"player_1"})

In [24]:
merge_table_test.head()

,player_1,losses,wins
0,Abdullah Maqdas,"[Jirat Navasirisomboon, Wishaya Trongcharoench...",[Bye]
1,Adam Hornby,[Christopher Diaz Figueroa],[Bye]
2,Adam Pavlasek,"[Jeremy Chardy, Nikoloz Basilashvili, Ryan Har...","[Roberto Carballes Baena, Marcel Granollers, M..."
3,Aditya Hari Sasongko,[Ruben Gonzales],[Bye]
4,Adrian Mannarino,"[Nicolas Mahut, Samuel Groth, Roberto Bautista...","[Marius Copil, Evgeny Donskoy, Tatsuma Ito, Ma..."

In [25]:
matching_merge = pd.merge(all_possible_matches,merge_table_test, on = "player_1", how = "outer")

In [26]:
matching_merge.head()

,player_1,player_2,losses,wins
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."

In [27]:
matching_merge = matching_merge.rename(index = str, columns = {"losses": "player_1_losses","wins": "player_1_wins"})

In [28]:
matching_merge.head()

,player_1,player_2,player_1_losses,player_1_wins
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus..."

In [29]:
merge_table_test = merge_table.rename(index=str, columns = {"name":"player_2"})

In [33]:
merge_table_test.head()

,player_2,losses,wins
0,Abdullah Maqdas,"[Jirat Navasirisomboon, Wishaya Trongcharoench...",[Bye]
1,Adam Hornby,[Christopher Diaz Figueroa],[Bye]
2,Adam Pavlasek,"[Jeremy Chardy, Nikoloz Basilashvili, Ryan Har...","[Roberto Carballes Baena, Marcel Granollers, M..."
3,Aditya Hari Sasongko,[Ruben Gonzales],[Bye]
4,Adrian Mannarino,"[Nicolas Mahut, Samuel Groth, Roberto Bautista...","[Marius Copil, Evgeny Donskoy, Tatsuma Ito, Ma..."

In [34]:
matching_merge_1 = pd.merge(all_possible_matches,merge_table_test, on = "player_2", how = "outer")

In [35]:
matching_merge_1 = matching_merge_1.rename(index = str, columns = {"losses": "player_2_losses","wins": "player_2_wins"})

In [36]:
matching_merge_1.head()

,player_1,player_2,player_2_losses,player_2_wins
0,Kei Nishikori,Milos Raonic,"[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."
1,Stanislas Wawrinka,Milos Raonic,"[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."
2,Rafael Nadal,Milos Raonic,"[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."
3,Dominic Thiem,Milos Raonic,"[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."
4,Jordan Thompson,Milos Raonic,"[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."

In [37]:
attempt_merge = pd.merge(matching_merge, matching_merge_1,  how='left', left_on=['player_1','player_2'], right_on = ['player_1','player_2'])

In [38]:
##i dont know why there are NAs

attempt_merge1 = attempt_merge.dropna(axis=0,how="any")

In [39]:
# del attempt_merge1["player_1_losses_in_player_2_wins"]
# del attempt_merge1["player_2_losses_in_player_1_wins"]
# del attempt_merge1["player_1_wins_in_player_2_wins"]
# del attempt_merge1["player_1_losses_in_player_2_losses"]

In [40]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ..."
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Milos Raonic, Benoit Paire, David Goffin, And...","[Borna Coric, Benoit Paire, Guillermo Garcia L..."
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Novak Djokovic, Fernando Verdasco, Dominic Th...","[Illya Marchenko, Andrey Kuznetsov, Robin Haas..."
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Roger Federer, Gilles Muller, David Goffin, G...","[Marin Cilic, Denis Kudla, James Duckworth, Le..."
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Bernard Tomic, Thomaz Bellucci, Ivo Karlovic,...","[Martin Klizan, Laslo Djere, Victor Estrella, ..."

In [41]:
attempt_merge1['player_1_losses_in_player_2_wins'] = [(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_wins)]
attempt_merge1['player_2_losses_in_player_1_wins'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_2_losses,attempt_merge1.player_1_wins)]
attempt_merge1['player_1_wins_in_player_2_wins'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_1_wins,attempt_merge1.player_2_wins)]
attempt_merge1['player_1_losses_in_player_2_losses'] = [list(set(a).intersection(set(b))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_losses)]

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [43]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ...","[Roger Federer, Jack Sock, Rafael Nadal, Stani...","[Gael Monfils, Thanasi Kokkinakis, Mikhail You...","[Viktor Troicki, Alexandr Dolgopolov, Jared Do...","[Roger Federer, Marin Cilic, Jack Sock, Rafael..."
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Milos Raonic, Benoit Paire, David Goffin, And...","[Borna Coric, Benoit Paire, Guillermo Garcia L...","[Marin Cilic, Jack Sock, Sam Querrey, Andy Mur...","[John Isner, Rafael Nadal, Andrey Kuznetsov, G...","[Jeremy Chardy, Taylor Harry Fritz, Viktor Tro...","[Roger Federer, Rafael Nadal, Grigor Dimitrov,..."
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Novak Djokovic, Fernando Verdasco, Dominic Th...","[Illya Marchenko, Andrey Kuznetsov, Robin Haas...","[Marin Cilic, Jack Sock, Stanislas Wawrinka, G...","[Dominic Thiem, Grigor Dimitrov, Lucas Pouille...","[Joao Sousa, Alexandr Dolgopolov, Fabio Fognin...","[Roger Federer, Grigor Dimitrov, Andy Murray, ..."
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Roger Federer, Gilles Muller, David Goffin, G...","[Marin Cilic, Denis Kudla, James Duckworth, Le...","[Roger Federer, Marin Cilic, Jack Sock, Rafael...","[Daniel Evans, Jo Wilfried Tsonga, Rafael Nada...","[Jeremy Chardy, David Ferrer, Dusan Lajovic, J...","[Roger Federer, Jack Sock, Rafael Nadal, Stani..."
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Bernard Tomic, Thomaz Bellucci, Ivo Karlovic,...","[Martin Klizan, Laslo Djere, Victor Estrella, ...","[Joao Sousa, Andy Murray, Jack Sock]","[Dominic Thiem, John Isner, Benjamin Becker, K...","[Joao Sousa, Benoit Paire, David Ferrer, Andy ...","[Sam Querrey, Bernard Tomic, Karen Khachanov, ..."

In [44]:
#[list(len(a+b)) for a, b in zip(attempt_merge1.player_1_losses_in_player_2_wins,attempt_merge1.player_2_losses_in_player_1_wins)]

In [45]:
##for the numbers
attempt_merge1['player_1_losses_in_player_2_wins'] = [len((list(set(a).intersection(set(b))))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_wins)]
attempt_merge1['player_2_losses_in_player_1_wins'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_2_losses,attempt_merge1.player_1_wins)]
attempt_merge1['player_1_wins_in_player_2_wins'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_wins,attempt_merge1.player_2_wins)]
attempt_merge1['player_1_losses_in_player_2_losses'] = [len(list(set(a).intersection(set(b)))) for a, b in zip(attempt_merge1.player_1_losses,attempt_merge1.player_2_losses)]

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [46]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ...",11,9,22,7
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Milos Raonic, Benoit Paire, David Goffin, And...","[Borna Coric, Benoit Paire, Guillermo Garcia L...",11,9,27,6
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Novak Djokovic, Fernando Verdasco, Dominic Th...","[Illya Marchenko, Andrey Kuznetsov, Robin Haas...",14,9,27,6
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Roger Federer, Gilles Muller, David Goffin, G...","[Marin Cilic, Denis Kudla, James Duckworth, Le...",12,14,24,9
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Bernard Tomic, Thomaz Bellucci, Ivo Karlovic,...","[Martin Klizan, Laslo Djere, Victor Estrella, ...",3,13,4,6

In [47]:
attempt_merge1["parameters_value"] = [(a/(a+b))*(1/10) for a, b in zip(attempt_merge1.player_1_losses_in_player_2_wins,attempt_merge1.player_2_losses_in_player_1_wins)]

C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  """Entry point for launching an IPython kernel.
C:\Users\gizmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
attempt_merge1.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses,parameters_value
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ...",11,9,22,7,0.055000
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Milos Raonic, Benoit Paire, David Goffin, And...","[Borna Coric, Benoit Paire, Guillermo Garcia L...",11,9,27,6,0.055000
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Novak Djokovic, Fernando Verdasco, Dominic Th...","[Illya Marchenko, Andrey Kuznetsov, Robin Haas...",14,9,27,6,0.060870
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Roger Federer, Gilles Muller, David Goffin, G...","[Marin Cilic, Denis Kudla, James Duckworth, Le...",12,14,24,9,0.046154
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Bernard Tomic, Thomaz Bellucci, Ivo Karlovic,...","[Martin Klizan, Laslo Djere, Victor Estrella, ...",3,13,4,6,0.018750

In [49]:
final_merge_thing_help = attempt_merge1.fillna(0)

In [50]:
final_merge_thing_help.to_csv("matchups_parameters_4.csv")

In [51]:
final_merge_thing_help.head()

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses,parameters_value
0,Kei Nishikori,Milos Raonic,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Andy Murray, Novak Djokovic, Nick Kyrgios, An...","[Roger Federer, Bernard Tomic, Lucas Pouille, ...",11,9,22,7,0.055000
1,Kei Nishikori,Stanislas Wawrinka,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Milos Raonic, Benoit Paire, David Goffin, And...","[Borna Coric, Benoit Paire, Guillermo Garcia L...",11,9,27,6,0.055000
2,Kei Nishikori,Rafael Nadal,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Novak Djokovic, Fernando Verdasco, Dominic Th...","[Illya Marchenko, Andrey Kuznetsov, Robin Haas...",14,9,27,6,0.060870
3,Kei Nishikori,Dominic Thiem,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Roger Federer, Gilles Muller, David Goffin, G...","[Marin Cilic, Denis Kudla, James Duckworth, Le...",12,14,24,9,0.046154
4,Kei Nishikori,Jordan Thompson,"[Bernard Tomic, Novak Djokovic, Sam Querrey, R...","[Mikhail Kukushkin, Philipp Kohlschreiber, Aus...","[Bernard Tomic, Thomaz Bellucci, Ivo Karlovic,...","[Martin Klizan, Laslo Djere, Victor Estrella, ...",3,13,4,6,0.018750