In [1]:
import pandas as pd
import numpy as np

In [2]:
##atp_2015 is now 2016 and 2017 pre wimbledon but the variable name has not changed
##atp_2015 is now 2016 and 2017 pre wimbledon but the variable name has not changed
##atp_2015 is now 2016 and 2017 pre wimbledon but the variable name has not changed
##atp_2015 is now 2016 and 2017 pre wimbledon but the variable name has not changed

In [3]:
atp_2016 = pd.read_csv("atp_2016.csv")
atp_2017_pre_wim = pd.read_csv("atp_2017_pre_wim.csv")
atp_2015 = pd.concat([atp_2016, atp_2017_pre_wim])
atp_2015.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2016-M020,Brisbane,Hard,32.0,A,20160104.0,300.0,105683.0,4.0,NaN,...,1.0,7.0,3.0,61.0,34.0,25.0,14.0,10.0,3.0,5.0
1,2016-M020,Brisbane,Hard,32.0,A,20160104.0,299.0,103819.0,1.0,NaN,...,1.0,2.0,4.0,55.0,31.0,18.0,9.0,8.0,2.0,6.0
2,2016-M020,Brisbane,Hard,32.0,A,20160104.0,298.0,105683.0,4.0,NaN,...,4.0,10.0,3.0,84.0,54.0,41.0,16.0,12.0,2.0,2.0
3,2016-M020,Brisbane,Hard,32.0,A,20160104.0,297.0,103819.0,1.0,NaN,...,1.0,8.0,2.0,104.0,62.0,46.0,21.0,16.0,8.0,11.0
4,2016-M020,Brisbane,Hard,32.0,A,20160104.0,296.0,106233.0,8.0,NaN,...,2.0,11.0,2.0,98.0,52.0,41.0,27.0,15.0,7.0,8.0

In [4]:
atp_2015.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced'],
      dtype='object')

In [5]:
surface_grass = atp_2015['surface'] == "Grass"
surface_clay = atp_2015["surface"]=="Clay"
surface_hard = atp_2015["surface"]=="Hard"
surface_clay_df = atp_2015[surface_clay]
surface_hard_df = atp_2015[surface_hard]
surface_df = atp_2015[surface_grass]

In [6]:
player_win_right = atp_2015["winner_hand"] == "R"
player_winners_right_df = atp_2015[player_win_right]
player_loser_right = atp_2015["loser_hand"] =="R"
player_loser_right_df = atp_2015[player_loser_right]
player_win_left = atp_2015["winner_hand"] == "L"
player_winner_left_df = atp_2015[player_win_left]
player_loser_left = atp_2015["loser_hand"] =="L"
player_loser_left_df = atp_2015[player_loser_left]

In [7]:
winners_right = pd.DataFrame(player_loser_right_df["winner_name"].value_counts())
losers_right = pd.DataFrame(player_winners_right_df["loser_name"].value_counts())

In [8]:
winners_left = pd.DataFrame(player_loser_left_df["winner_name"].value_counts())
losers_left = pd.DataFrame(player_winner_left_df["loser_name"].value_counts())

In [9]:
combined_RL1 = winners_left.join(losers_left, how = "outer")
combined_RL_Left = combined_RL1.fillna(0)
combined_RL_Left = combined_RL_Left.rename(index = str, columns = {"winner_name": "wins", "loser_name": "losses"})
combined_RL_Left["Left_hand_win_pct"] = combined_RL_Left["wins"]/(combined_RL_Left["wins"]+combined_RL_Left["losses"])
combined_RL_Left.head()

                  wins  losses  Left_hand_win_pct
Adrian Mannarino   6.0     6.0           0.500000
Adrian Ungur       0.0     1.0           0.000000
Agustin Velotti    0.0     1.0           0.000000
Albert Montanes    1.0     6.0           0.142857
Albert Ramos      10.0     5.0           0.666667

In [10]:
combined_RL = winners_right.join(losers_right,how = "outer")
combined_RL_Right = combined_RL.fillna(0)
combined_RL_Right= combined_RL_Right.rename(index = str, columns = {"winner_name": "wins", "loser_name": "losses"})
combined_RL_Right["right_hand_win_pct"] = combined_RL_Right["wins"]/(combined_RL_Right["wins"]+combined_RL_Right["losses"])
combined_RL_Right.head()

                      wins  losses  right_hand_win_pct
Abdullah Maqdas        0.0     2.0            0.000000
Adam Hornby            0.0     1.0            0.000000
Adam Pavlasek          4.0     8.0            0.333333
Aditya Hari Sasongko   0.0     1.0            0.000000
Adrian Mannarino      34.0    38.0            0.472222

In [11]:
# combined_RL_Right.head()

In [12]:
del combined_RL_Right["wins"]
del combined_RL_Left["wins"]
del combined_RL_Right["losses"]
del combined_RL_Left["losses"]

In [13]:
surface_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
1348,2016-M010,s-Hertogenbosch,Grass,32.0,A,20160606.0,300.0,103917.0,8.0,NaN,...,4.0,9.0,1.0,62.0,38.0,25.0,10.0,10.0,0.0,3.0
1349,2016-M010,s-Hertogenbosch,Grass,32.0,A,20160606.0,299.0,104180.0,7.0,NaN,...,0.0,21.0,6.0,72.0,47.0,42.0,15.0,12.0,0.0,0.0
1350,2016-M010,s-Hertogenbosch,Grass,32.0,A,20160606.0,298.0,103917.0,8.0,NaN,...,2.0,19.0,1.0,98.0,64.0,50.0,20.0,16.0,6.0,8.0
1351,2016-M010,s-Hertogenbosch,Grass,32.0,A,20160606.0,297.0,104180.0,7.0,NaN,...,5.0,3.0,3.0,102.0,63.0,45.0,29.0,16.0,4.0,5.0
1352,2016-M010,s-Hertogenbosch,Grass,32.0,A,20160606.0,296.0,103333.0,3.0,NaN,...,3.0,4.0,5.0,54.0,30.0,24.0,10.0,9.0,4.0,6.0

In [14]:
winners_clay = pd.DataFrame(surface_clay_df["winner_name"].value_counts())
losers_clay = pd.DataFrame(surface_clay_df["loser_name"].value_counts())
winners_hard = pd.DataFrame(surface_hard_df["winner_name"].value_counts())
losers_hard = pd.DataFrame(surface_hard_df["loser_name"].value_counts())
winners_grass = pd.DataFrame(surface_df["winner_name"].value_counts())
losers_grass = pd.DataFrame(surface_df["loser_name"].value_counts())

In [15]:
winners_clay = winners_clay.reset_index()
losers_clay = losers_clay.reset_index()
winners_hard = winners_hard.reset_index()
losers_hard = losers_hard.reset_index()
winner_grass = winners_grass.reset_index()
losers_grass = losers_grass.reset_index()

In [16]:
merged_win_lose_clay = pd.merge(winners_clay, losers_clay, how ="outer")
merged_win_lose_hard = pd.merge(winners_hard, losers_hard, how = "outer")
merged_win_lose_grass = pd.merge(winner_grass, losers_grass, how = "outer")

In [17]:
merged_win_lose_clay = merged_win_lose_clay.rename(index = str, columns = {"winner_name": "wins", "loser_name": "losses"})
merged_win_lose_hard = merged_win_lose_hard.rename(index = str, columns = {"winner_name": "wins", "loser_name": "losses"})
merged_win_lose_grass = merged_win_lose_grass.rename(index=str, columns={"winner_name": "wins","loser_name":"losses"})

In [18]:
merged_win_lose_clay = merged_win_lose_clay.fillna(0)
merged_win_lose_hard  = merged_win_lose_hard.fillna(0)
merged_win_lose_grass = merged_win_lose_grass.fillna(0)

In [19]:
merged_win_lose_grass["win_pct_grass"] = merged_win_lose_grass["wins"]/(merged_win_lose_grass["wins"]+merged_win_lose_grass["losses"])
merged_win_lose_clay["win_pct_clay"] = merged_win_lose_clay["wins"]/(merged_win_lose_clay["wins"]+merged_win_lose_clay["losses"])
merged_win_lose_hard["win_pct_hard"] = merged_win_lose_hard["wins"]/(merged_win_lose_hard["wins"]+merged_win_lose_hard["losses"])

In [20]:
merged_win_lose_grass = merged_win_lose_grass.set_index("index")
merged_win_lose_hard = merged_win_lose_hard.set_index("index")
merged_win_lose_clay = merged_win_lose_clay.set_index("index")

In [21]:
del merged_win_lose_grass["wins"]
del merged_win_lose_grass["losses"]
del merged_win_lose_clay["wins"]
del merged_win_lose_clay["losses"]
del merged_win_lose_hard["wins"]
del merged_win_lose_hard["losses"]

In [22]:
merged_win_lose_hard.head()

                 win_pct_hard
index
Novak Djokovic       0.863636
Andy Murray          0.876923
Kei Nishikori        0.732394
David Goffin         0.666667
Grigor Dimitrov      0.694444

In [23]:
players = atp_2015["winner_name"]

In [24]:
players_list = players.unique()

In [25]:
##change players_list to players_list_test for testing
stat_player_df = pd.DataFrame({'name':players_list})

In [26]:
len(stat_player_df)

301

In [27]:
grouped_atp_2015 = atp_2015.groupby(["winner_name"])

In [28]:
aces = grouped_atp_2015["w_ace"].sum()
service_games = grouped_atp_2015["w_SvGms"].sum()
first_serve_in = grouped_atp_2015["w_1stIn"].sum()
first_serves_won = grouped_atp_2015["w_1stWon"].sum()
doubfts = grouped_atp_2015["w_df"].sum()
total_brk_saved = grouped_atp_2015["w_bpSaved"].sum()
total_brk_faced = grouped_atp_2015["w_bpFaced"].sum()
rt_games_total = grouped_atp_2015["l_SvGms"].sum()
break_point_opp_total = grouped_atp_2015["l_bpFaced"].sum()
break_point_opp_loss = grouped_atp_2015["l_bpSaved"].sum()
svpt_total = grouped_atp_2015["w_svpt"].sum()

In [29]:
grouped_atp_2015_losers = atp_2015.groupby(["loser_name"])

In [30]:
aces_1 = grouped_atp_2015_losers["l_ace"].sum()
service_games_1 = grouped_atp_2015_losers["l_SvGms"].sum()
first_serve_in_l = grouped_atp_2015_losers["l_1stIn"].sum()
first_serves_won_l = grouped_atp_2015_losers["l_1stWon"].sum()
doubfts_l = grouped_atp_2015_losers["l_df"].sum()
total_brk_saved_l = grouped_atp_2015_losers["l_bpSaved"].sum()
total_brk_faced_l = grouped_atp_2015_losers["l_bpFaced"].sum()
rt_games_total_l = grouped_atp_2015_losers["w_SvGms"].sum()
break_point_opp_total_l = grouped_atp_2015_losers["w_bpFaced"].sum()
break_point_opp_loss_l = grouped_atp_2015_losers["w_bpSaved"].sum()
svpt_total_l = grouped_atp_2015_losers["l_svpt"].sum()

In [31]:
updated_stats_players_l = pd.DataFrame({"aces":aces_1,
                                   "service_games":service_games_1,
                                     "first_serve_in": first_serve_in_l,
                                     "first_serves_won": first_serves_won_l,
                                     "doubfts": doubfts_l,
                                     "total_brk_saved": total_brk_saved_l,
                                     "total_brk_faced": total_brk_faced_l,
                                     "rt_games_total": rt_games_total_l,
                                     "break_point_opp_total": break_point_opp_total_l,
                                     "break_point_opp_loss": break_point_opp_loss_l,
                                     "svpt_total": svpt_total_l})
updated_stats_players_l.head(20)

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved
loser_name,,,,,,,,,,,
Abdullah Maqdas,5.0,23.0,32.0,4.0,247.0,149.0,46.0,46.0,316.0,33.0,19.0
Adam Hornby,2.0,2.0,3.0,7.0,53.0,30.0,13.0,13.0,82.0,11.0,4.0
Adam Pavlasek,51.0,12.0,22.0,30.0,385.0,254.0,90.0,89.0,660.0,78.0,39.0
Aditya Hari Sasongko,3.0,3.0,4.0,3.0,53.0,32.0,13.0,13.0,79.0,14.0,8.0
Adrian Mannarino,159.0,142.0,216.0,132.0,1948.0,1264.0,477.0,468.0,3234.0,367.0,195.0
Adrian Menendez Maceiras,1.0,5.0,6.0,2.0,38.0,18.0,12.0,12.0,76.0,11.0,4.0
Adrian Ungur,6.0,18.0,27.0,14.0,240.0,142.0,57.0,56.0,384.0,49.0,30.0
Adrien Bossel,3.0,0.0,0.0,2.0,42.0,30.0,11.0,10.0,76.0,10.0,8.0
Agustin Velotti,9.0,16.0,19.0,4.0,72.0,48.0,23.0,22.0,138.0,12.0,6.0
Akira Santillan,18.0,10.0,11.0,11.0,117.0,78.0,38.0,38.0,234.0,20.0,9.0
Albano Olivetti,56.0,1.0,1.0,17.0,128.0,108.0,36.0,35.0,218.0,13.0,11.0
Albert Montanes,31.0,13.0,21.0,27.0,424.0,282.0,113.0,110.0,693.0,66.0,35.0
Albert Ramos,187.0,165.0,256.0,142.0,2490.0,1603.0,599.0,584.0,4063.0,427.0,233.0
Alberto Emmanuel Alvarado Larin,1.0,6.0,12.0,6.0,129.0,58.0,26.0,24.0,177.0,35.0,18.0
Alberto Lim,10.0,12.0,20.0,10.0,174.0,106.0,42.0,41.0,265.0,26.0,12.0
Aldin Setkic,6.0,1.0,2.0,8.0,93.0,58.0,16.0,15.0,133.0,14.0,10.0
Alejandro Falla,4.0,4.0,7.0,2.0,68.0,41.0,19.0,18.0,117.0,17.0,8.0
Alejandro Gonzalez,11.0,8.0,16.0,8.0,166.0,100.0,42.0,42.0,286.0,31.0,18.0
Aleksandr Nedovyesov,9.0,1.0,4.0,4.0,47.0,32.0,13.0,13.0,77.0,8.0,3.0
Alessandro Giannessi,23.0,20.0,27.0,25.0,278.0,181.0,60.0,61.0,437.0,47.0,29.0

In [32]:
updated_stats_players = pd.DataFrame({"aces":aces,
                                   "service_games":service_games,
                                     "first_serve_in": first_serve_in,
                                     "first_serves_won": first_serves_won,
                                     "doubfts": doubfts,
                                     "total_brk_saved": total_brk_saved,
                                     "total_brk_faced": total_brk_faced,
                                     "rt_games_total": rt_games_total,
                                     "break_point_opp_total": break_point_opp_total,
                                     "break_point_opp_loss": break_point_opp_loss,
                                     "svpt_total": svpt_total})
updated_stats_players.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved
winner_name,,,,,,,,,,,
Adam Pavlasek,30.0,24.0,46.0,13.0,234.0,174.0,38.0,40.0,379.0,29.0,21.0
Adrian Mannarino,224.0,214.0,383.0,103.0,2047.0,1499.0,469.0,477.0,3415.0,230.0,147.0
Adrian Ungur,5.0,4.0,16.0,3.0,126.0,85.0,30.0,30.0,202.0,18.0,12.0
Aisam Ul Haq Qureshi,22.0,7.0,13.0,5.0,34.0,31.0,11.0,12.0,64.0,1.0,1.0
Albert Montanes,21.0,40.0,70.0,22.0,270.0,213.0,80.0,79.0,472.0,25.0,16.0

In [33]:
frames = [updated_stats_players,updated_stats_players_l]

In [34]:
results = pd.concat(frames)

In [35]:
results = results.reset_index()

In [36]:
full_player_stats = results.groupby(["index"])

In [37]:
len(full_player_stats.groups)

463

In [38]:
total_player_stats = full_player_stats.sum()

In [39]:
total_player_stats["ace_pct"] = total_player_stats["aces"]/total_player_stats["svpt_total"]
total_player_stats["df_pct"] = total_player_stats["doubfts"]/total_player_stats["svpt_total"]
total_player_stats["first_serve_won_pct"] = total_player_stats["first_serves_won"]/total_player_stats["first_serve_in"]
total_player_stats["broken_pct"] = (total_player_stats["total_brk_faced"]-total_player_stats["total_brk_saved"])/total_player_stats["service_games"]
total_player_stats["breaking_pct"] = (total_player_stats["break_point_opp_total"]-total_player_stats["break_point_opp_loss"])/total_player_stats["rt_games_total"]
total_player_stats["break_conversion_pct"] = (total_player_stats["break_point_opp_total"]-total_player_stats["break_point_opp_loss"])/total_player_stats["break_point_opp_total"]

In [40]:
total_player_stats = total_player_stats.fillna(0)
total_player_stats.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,total_brk_saved,ace_pct,df_pct,first_serve_won_pct,broken_pct,breaking_pct,break_conversion_pct
index,,,,,,,,,,,,,,,,,
Abdullah Maqdas,5.0,23.0,32.0,4.0,247.0,149.0,46.0,46.0,316.0,33.0,19.0,0.015823,0.012658,0.603239,0.304348,0.195652,0.281250
Adam Hornby,2.0,2.0,3.0,7.0,53.0,30.0,13.0,13.0,82.0,11.0,4.0,0.024390,0.085366,0.566038,0.538462,0.076923,0.333333
Adam Pavlasek,81.0,36.0,68.0,43.0,619.0,428.0,128.0,129.0,1039.0,107.0,60.0,0.077960,0.041386,0.691438,0.364341,0.250000,0.470588
Aditya Hari Sasongko,3.0,3.0,4.0,3.0,53.0,32.0,13.0,13.0,79.0,14.0,8.0,0.037975,0.037975,0.603774,0.461538,0.076923,0.250000
Adrian Mannarino,383.0,356.0,599.0,235.0,3995.0,2763.0,946.0,945.0,6649.0,597.0,342.0,0.057603,0.035344,0.691615,0.269841,0.256871,0.405676

In [41]:
total_player_stats = total_player_stats.join(merged_win_lose_grass,how = "outer")

In [42]:
total_player_stats = total_player_stats.join(merged_win_lose_clay, how = "outer")
total_player_stats = total_player_stats.join(merged_win_lose_hard, how = "outer")
total_player_stats = total_player_stats.join(combined_RL_Left, how = "outer")
total_player_stats = total_player_stats.join(combined_RL_Right, how = "outer")

In [43]:
total_player_stats = total_player_stats.fillna(0)

In [44]:
total_player_stats.head()

,aces,break_point_opp_loss,break_point_opp_total,doubfts,first_serve_in,first_serves_won,rt_games_total,service_games,svpt_total,total_brk_faced,...,df_pct,first_serve_won_pct,broken_pct,breaking_pct,break_conversion_pct,win_pct_grass,win_pct_clay,win_pct_hard,Left_hand_win_pct,right_hand_win_pct
Abdullah Maqdas,5.0,23.0,32.0,4.0,247.0,149.0,46.0,46.0,316.0,33.0,...,0.012658,0.603239,0.304348,0.195652,0.281250,0.00,0.0,0.000000,0.0,0.000000
Adam Hornby,2.0,2.0,3.0,7.0,53.0,30.0,13.0,13.0,82.0,11.0,...,0.085366,0.566038,0.538462,0.076923,0.333333,0.00,0.0,0.000000,0.0,0.000000
Adam Pavlasek,81.0,36.0,68.0,43.0,619.0,428.0,128.0,129.0,1039.0,107.0,...,0.041386,0.691438,0.364341,0.250000,0.470588,0.50,0.5,0.000000,0.0,0.333333
Aditya Hari Sasongko,3.0,3.0,4.0,3.0,53.0,32.0,13.0,13.0,79.0,14.0,...,0.037975,0.603774,0.461538,0.076923,0.250000,0.00,0.0,0.000000,0.0,0.000000
Adrian Mannarino,383.0,356.0,599.0,235.0,3995.0,2763.0,946.0,945.0,6649.0,597.0,...,0.035344,0.691615,0.269841,0.256871,0.405676,0.64,0.4,0.422222,0.5,0.472222

In [45]:
##matchups_2016 is now matchups_2017_2018 but the variable name is not has not changed
##matchups_2016 is now matchups_2017_2018 but the variable name is not has not changed
##matchups_2016 is now matchups_2017_2018 but the variable name is not has not changed

In [46]:
##matchups_2016 is now matchups_2017_2018 but the variable name is not has not changed
atp_2017_post_wim = pd.read_csv("atp_2017_post_wim.csv")
atp_2018 = pd.read_csv("atp_2018.csv")
matchups_2016 = pd.concat([atp_2017_post_wim, atp_2018])

In [47]:
##separating wimbledon
wimbledon_matches = matchups_2016[matchups_2016.tourney_name == 'Wimbledon']
matchups_2016 = matchups_2016[matchups_2016.tourney_name != "Wimbledon"]
wimbledon_matches.head()

,tourney_id,tourney_name,surface,player_1_win,player_1,Player_1_hand,Player_1_age,player_2,Player_2_hand,Player_2_age
1035,2017-540,Wimbledon,Grass,0,Alexander Bublik,R,20.043806,Andy Murray,R,30.135524
1036,2017-540,Wimbledon,Grass,0,Joao Sousa,R,28.260096,Dustin Brown,R,32.566735
1037,2017-540,Wimbledon,Grass,0,Illya Marchenko,R,29.817933,Jiri Vesely,L,23.980835
1038,2017-540,Wimbledon,Grass,1,Fabio Fognini,R,30.110883,Dmitry Tursunov,R,34.557153
1039,2017-540,Wimbledon,Grass,0,Nick Kyrgios,R,22.184805,Pierre Hugues Herbert,R,26.294319

In [48]:
# matchups_2016 = matchups_2016[['Player 1.1', 'Player 2.1', 'Player_1_Win.1']]
matchups_2016.head()

,tourney_id,tourney_name,surface,player_1_win,player_1,Player_1_hand,Player_1_age,player_2,Player_2_hand,Player_2_age
0,2017-0316,Bastad,Clay,0,Alexandr Dolgopolov,R,28.689938,David Ferrer,R,35.290897
1,2017-0316,Bastad,Clay,1,Alexandr Dolgopolov,R,28.689938,Andrey Kuznetsov,R,26.398357
2,2017-0316,Bastad,Clay,0,Fernando Verdasco,L,33.670089,David Ferrer,R,35.290897
3,2017-0316,Bastad,Clay,1,Andrey Kuznetsov,R,26.398357,Diego Sebastian Schwartzman,R,24.917180
4,2017-0316,Bastad,Clay,0,Karen Khachanov,R,21.155373,Alexandr Dolgopolov,R,28.689938

In [49]:
matchups_2016 = matchups_2016[['surface', 'player_1_win', 'player_1','player_2', 'Player_1_hand','Player_2_hand']]
# matchups_2016 = matchups_2016[['Player 1.1', 'Player 2.1', 'Player_1_Win.1']]
# matchups_2016.columns = [['player_1', 'player_2', "player_1_win"]]
matchups_2016.head()

,surface,player_1_win,player_1,player_2,Player_1_hand,Player_2_hand
0,Clay,0,Alexandr Dolgopolov,David Ferrer,R,R
1,Clay,1,Alexandr Dolgopolov,Andrey Kuznetsov,R,R
2,Clay,0,Fernando Verdasco,David Ferrer,L,R
3,Clay,1,Andrey Kuznetsov,Diego Sebastian Schwartzman,R,R
4,Clay,0,Karen Khachanov,Alexandr Dolgopolov,R,R

In [50]:
# matchups_2016['ace_pct'] = 0
# ace_pct = total_player_stats.loc['Roger Federer']['ace_pct'] - total_player_stats.loc['Milos Raonic']['ace_pct']
# print(type(ace_pct))
# matchups_2016.loc[0,'ace_pct'] = ace_pct
# matchups_2016.head()

In [51]:
matchups_2016['ace_pct'] = 0
matchups_2016['df_pct'] = 0
matchups_2016['first_serve_pct'] = 0
matchups_2016['broken_pct'] = 0
matchups_2016['breaking_pct'] = 0
matchups_2016['break_conversion_pct'] = 0
matchups_2016["surface_win_pct"] = 0
matchups_2016["player_hand_win_pct"] = 0
count_unknown_hand = 0

for index, row in matchups_2016.iterrows():
    player_1 = row['player_1']
    player_2 = row['player_2']
    if player_1 in total_player_stats.index and player_2 in total_player_stats.index:
        ace_pct = total_player_stats.loc[player_1]['ace_pct'] - total_player_stats.loc[player_2]['ace_pct']
        df_pct = total_player_stats.loc[player_1]['df_pct'] - total_player_stats.loc[player_2]['df_pct']
        first_serve_pct = total_player_stats.loc[player_1]['first_serve_won_pct'] - total_player_stats.loc[player_2]['first_serve_won_pct']
        broken_pct = total_player_stats.loc[player_1]['broken_pct'] - total_player_stats.loc[player_2]['broken_pct']
        breaking_pct = total_player_stats.loc[player_1]['breaking_pct'] - total_player_stats.loc[player_2]['breaking_pct']
        break_conversion_pct = total_player_stats.loc[player_1]['break_conversion_pct'] - total_player_stats.loc[player_2]['break_conversion_pct']
        if row["surface"] == "Hard":
            surface_win_pct = total_player_stats.loc[player_1]["win_pct_hard"]-total_player_stats.loc[player_2]["win_pct_hard"]
        elif row["surface"] == "Clay":
            surface_win_pct = total_player_stats.loc[player_1]["win_pct_clay"]-total_player_stats.loc[player_2]["win_pct_clay"]
        elif row["surface"] == "Grass":
            surface_win_pct = total_player_stats.loc[player_1]["win_pct_grass"]-total_player_stats.loc[player_2]["win_pct_grass"]
        else:
            print("something went wrong...")
        
        if row["Player_1_hand"] == "R":
            if row["Player_2_hand"] == "R":
                player_hand_win_pct = total_player_stats.loc[player_1]["right_hand_win_pct"]-total_player_stats.loc[player_2]["right_hand_win_pct"]
            elif row["Player_2_hand"] == "L":
                player_hand_win_pct = total_player_stats.loc[player_1]["Left_hand_win_pct"]-total_player_stats.loc[player_2]["right_hand_win_pct"]
            else:
                print("unknown")
                count_unknown_hand+=1   
        elif row["Player_1_hand"] == "L":
            if row["Player_2_hand"] == "R":
                player_hand_win_pct = total_player_stats.loc[player_1]["right_hand_win_pct"]-total_player_stats.loc[player_2]["Left_hand_win_pct"]
            elif row["Player_2_hand"] == "L":
                player_hand_win_pct = total_player_stats.loc[player_1]["Left_hand_win_pct"]-total_player_stats.loc[player_2]["Left_hand_win_pct"]
            else:
                print("unknown")
                count_unknown_hand+=1
            
            
        matchups_2016.loc[index, 'ace_pct'] =  ace_pct
        matchups_2016.loc[index, 'df_pct'] = df_pct
        matchups_2016.loc[index, 'first_serve_pct'] = first_serve_pct
        matchups_2016.loc[index, 'broken_pct'] = broken_pct
        matchups_2016.loc[index, 'breaking_pct'] =  breaking_pct
        matchups_2016.loc[index, 'break_conversion_pct'] = break_conversion_pct
        matchups_2016.loc[index, 'surface_win_pct'] = surface_win_pct
        matchups_2016.loc[index, "player_hand_win_pct"] = player_hand_win_pct
    else: 
        continue
    
len(matchups_2016)

unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown
unknown

2447

In [52]:
matchups_2016 = matchups_2016[matchups_2016.first_serve_pct != 0]
matchups_2016 = matchups_2016.replace([np.inf, -np.inf], np.nan)
len(matchups_2016)

2349

In [53]:
matchups_2016.head()

,surface,player_1_win,player_1,player_2,Player_1_hand,Player_2_hand,ace_pct,df_pct,first_serve_pct,broken_pct,breaking_pct,break_conversion_pct,surface_win_pct,player_hand_win_pct
0,Clay,0,Alexandr Dolgopolov,David Ferrer,R,R,-0.074903,0.004973,-0.031930,0.115524,0.012928,0.006386,-0.201136,-0.272727
1,Clay,1,Alexandr Dolgopolov,Andrey Kuznetsov,R,R,0.091328,-0.002168,0.026147,-0.069470,-0.046227,-0.011295,0.069192,0.098059
2,Clay,0,Fernando Verdasco,David Ferrer,L,R,-0.057606,0.002780,-0.091490,0.178378,-0.059082,-0.089444,-0.162500,-0.204545
3,Clay,1,Andrey Kuznetsov,Diego Sebastian Schwartzman,R,R,-0.010170,-0.002854,-0.011382,0.040271,-0.022511,0.011092,-0.182249,-0.198179
4,Clay,0,Karen Khachanov,Alexandr Dolgopolov,R,R,-0.082056,0.004406,-0.031315,0.109171,0.013037,0.003506,-0.370779,-0.216634

In [54]:
parameter_match_ups = pd.read_csv('matchups_parameters_3.csv')

In [55]:
parameter_match_ups.head()

,Unnamed: 0,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses,parameters_value
0,0,Roger Federer,Dominic Thiem,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Roger Federer', 'Gilles Muller', 'David Goff...","['Marin Cilic', 'Denis Kudla', 'James Duckwort...",2,15,16,4,0.011765
1,1,Roger Federer,Bernard Tomic,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Milos Raonic', 'Teymuraz Gabashvili', 'Andy ...","['Kei Nishikori', 'Radek Stepanek', 'Nicolas M...",1,9,6,2,0.010000
2,2,Roger Federer,Grigor Dimitrov,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Roger Federer', 'Viktor Troicki', 'Roger Fed...","['Viktor Troicki', 'Gilles Simon', 'Gilles Mul...",2,12,13,3,0.014286
3,3,Roger Federer,Marin Cilic,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Dominic Thiem', 'Roberto Bautista Agut', 'Al...","['Hyeon Chung', 'Thiemo De Bakker', 'Albert Ra...",2,10,12,3,0.016667
4,4,Roger Federer,Lucas Pouille,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Milos Raonic', 'Milos Raonic', 'Andrey Kuzne...","['David Goffin', 'Yoshihito Nishioka', 'David ...",2,6,10,2,0.025000

In [56]:
del parameter_match_ups["Unnamed: 0"]

In [57]:
parameter_match_ups.head(5)

,player_1,player_2,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses,parameters_value
0,Roger Federer,Dominic Thiem,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Roger Federer', 'Gilles Muller', 'David Goff...","['Marin Cilic', 'Denis Kudla', 'James Duckwort...",2,15,16,4,0.011765
1,Roger Federer,Bernard Tomic,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Milos Raonic', 'Teymuraz Gabashvili', 'Andy ...","['Kei Nishikori', 'Radek Stepanek', 'Nicolas M...",1,9,6,2,0.010000
2,Roger Federer,Grigor Dimitrov,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Roger Federer', 'Viktor Troicki', 'Roger Fed...","['Viktor Troicki', 'Gilles Simon', 'Gilles Mul...",2,12,13,3,0.014286
3,Roger Federer,Marin Cilic,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Dominic Thiem', 'Roberto Bautista Agut', 'Al...","['Hyeon Chung', 'Thiemo De Bakker', 'Albert Ra...",2,10,12,3,0.016667
4,Roger Federer,Lucas Pouille,"['Milos Raonic', 'Novak Djokovic', 'Jo Wilfrie...","['Dominic Thiem', 'Grigor Dimitrov', 'Tobias K...","['Milos Raonic', 'Milos Raonic', 'Andrey Kuzne...","['David Goffin', 'Yoshihito Nishioka', 'David ...",2,6,10,2,0.025000

In [58]:
merging_matching = pd.merge(matchups_2016, parameter_match_ups, how='left', left_on=['player_1','player_2'], right_on = ['player_1','player_2'])

In [59]:
merging_matching.head()

,surface,player_1_win,player_1,player_2,Player_1_hand,Player_2_hand,ace_pct,df_pct,first_serve_pct,broken_pct,...,player_hand_win_pct,player_1_losses,player_1_wins,player_2_losses,player_2_wins,player_1_losses_in_player_2_wins,player_2_losses_in_player_1_wins,player_1_wins_in_player_2_wins,player_1_losses_in_player_2_losses,parameters_value
0,Clay,0,Alexandr Dolgopolov,David Ferrer,R,R,-0.074903,0.004973,-0.031930,0.115524,...,-0.272727,"['Grigor Dimitrov', 'Roger Federer', 'Diego Se...","['Alexander Sarkissian', 'Thomaz Bellucci', 'R...","['Illya Marchenko', 'Jack Sock', 'Andy Murray'...","['Lukas Rosol', 'Matthew Barton', 'Peter Gojow...",3.0,8.0,6.0,8.0,0.027273
1,Clay,1,Alexandr Dolgopolov,Andrey Kuznetsov,R,R,0.091328,-0.002168,0.026147,-0.069470,...,0.098059,"['Grigor Dimitrov', 'Roger Federer', 'Diego Se...","['Alexander Sarkissian', 'Thomaz Bellucci', 'R...","['Rafael Nadal', 'Gael Monfils', 'Viktor Troic...","['Ricardas Berankis', 'Marsel Ilhan', 'Ryan Ha...",3.0,5.0,8.0,10.0,0.037500
2,Clay,0,Fernando Verdasco,David Ferrer,L,R,-0.057606,0.002780,-0.091490,0.178378,...,-0.204545,"['Novak Djokovic', 'Dudi Sela', 'Renzo Olivo',...","['Malek Jaziri', 'Rafael Nadal', 'Martin Kliza...","['Illya Marchenko', 'Jack Sock', 'Andy Murray'...","['Lukas Rosol', 'Matthew Barton', 'Peter Gojow...",8.0,9.0,10.0,8.0,0.047059
3,Clay,1,Andrey Kuznetsov,Diego Sebastian Schwartzman,R,R,-0.010170,-0.002854,-0.011382,0.040271,...,-0.198179,"['Rafael Nadal', 'Gael Monfils', 'Viktor Troic...","['Ricardas Berankis', 'Marsel Ilhan', 'Ryan Ha...","['John Millman', 'Paolo Lorenzi', 'Dominic Thi...","['Alexandr Dolgopolov', 'Joao Souza', 'Horacio...",6.0,2.0,3.0,8.0,0.075000
4,Clay,0,Karen Khachanov,Alexandr Dolgopolov,R,R,-0.082056,0.004406,-0.031315,0.109171,...,-0.216634,"['Gilles Muller', 'Alexandr Dolgopolov', 'Albe...","['Roberto Bautista Agut', 'Aljaz Bedene', 'Alj...","['Grigor Dimitrov', 'Roger Federer', 'Diego Se...","['Alexander Sarkissian', 'Thomaz Bellucci', 'R...",6.0,3.0,6.0,8.0,0.066667

In [60]:
merging_matching = merging_matching.dropna(axis=0,how="any")

In [61]:
del merging_matching["player_1_losses"]
del merging_matching["player_1_wins"]
del merging_matching["player_2_losses"]
del merging_matching["player_2_wins"]
del merging_matching["player_1_losses_in_player_2_wins"]
del merging_matching["player_1_losses_in_player_2_losses"]
del merging_matching["player_1_wins_in_player_2_wins"]
del merging_matching["player_2_losses_in_player_1_wins"]

In [62]:
merging_matching.head()

,surface,player_1_win,player_1,player_2,Player_1_hand,Player_2_hand,ace_pct,df_pct,first_serve_pct,broken_pct,breaking_pct,break_conversion_pct,surface_win_pct,player_hand_win_pct,parameters_value
0,Clay,0,Alexandr Dolgopolov,David Ferrer,R,R,-0.074903,0.004973,-0.031930,0.115524,0.012928,0.006386,-0.201136,-0.272727,0.027273
1,Clay,1,Alexandr Dolgopolov,Andrey Kuznetsov,R,R,0.091328,-0.002168,0.026147,-0.069470,-0.046227,-0.011295,0.069192,0.098059,0.037500
2,Clay,0,Fernando Verdasco,David Ferrer,L,R,-0.057606,0.002780,-0.091490,0.178378,-0.059082,-0.089444,-0.162500,-0.204545,0.047059
3,Clay,1,Andrey Kuznetsov,Diego Sebastian Schwartzman,R,R,-0.010170,-0.002854,-0.011382,0.040271,-0.022511,0.011092,-0.182249,-0.198179,0.075000
4,Clay,0,Karen Khachanov,Alexandr Dolgopolov,R,R,-0.082056,0.004406,-0.031315,0.109171,0.013037,0.003506,-0.370779,-0.216634,0.066667

In [63]:
len(merging_matching)

2186

In [64]:
#parameter_match_ups[parameter_match_ups.player_1==matchups_2016.player_1 and parameter_match_ups.player_2==matchups_2016.player_2]

In [65]:
#parameter_match_ups.player_1==matchups_2016.player_1

In [73]:
merging_matching.to_csv("merging_matching_first_inputs_3.csv")

In [ ]:
##if you ran the previous code, no need to run this
merging_matching = pd.read_csv("merging_matching_first_inputs.csv")
del merging_matching["Unnamed: 0"]
merging_matching.head()

In [ ]:
merging_matching.head()

In [117]:
X = merging_matching.drop(["player_1_win", "player_1", "player_2", "surface", "Player_1_hand", "Player_2_hand"], axis=1)
y = merging_matching["player_1_win"]
print(X.shape, y.shape)

(2186, 9) (2186,)

In [118]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [119]:
y_test_indexes = list(y_test.index)

In [127]:
for i in range(127):
    y_test = y_test.drop([y_test_indexes[i]])

len(y_test)

420

In [128]:
##wimbledon is sure to be in the tested

y_test = pd.concat([y_test,wimbledon_matches["player_1_win"]])

In [129]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [130]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [131]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5802318486882245
Testing Data Score: 0.5393053016453382

In [132]:
predictions_prob = classifier.predict_proba(X_test)
predictions1 = classifier.predict(X_test)

In [133]:
clean_data = [[item for item in row] for row in predictions_prob]

In [134]:
player_prob = pd.DataFrame(clean_data, columns=["player_1_prob","player_2_prob"])

In [135]:
player_prob.head()

   player_1_prob  player_2_prob
0       0.563553       0.436447
1       0.428455       0.571545
2       0.471057       0.528943
3       0.526509       0.473491
4       0.470642       0.529358

In [136]:
#pd.DataFrame({"Prediction": predictions1, "Actual": y_test}).reset_index(drop=True).head()

In [137]:
predictions_dataframe = X_test

In [138]:
player_prob['index'] = predictions_dataframe.index
player_prob = player_prob.set_index('index')

In [139]:
player_prob.head()

       player_1_prob  player_2_prob
index
1501        0.563553       0.436447
480         0.428455       0.571545
169         0.471057       0.528943
1309        0.526509       0.473491
1704        0.470642       0.529358

In [140]:
player_prob_merge = predictions_dataframe.join(player_prob, how = "inner")

In [141]:
player_prob_merge.head()

,ace_pct,df_pct,first_serve_pct,broken_pct,breaking_pct,break_conversion_pct,surface_win_pct,player_hand_win_pct,parameters_value,player_1_prob,player_2_prob
index,,,,,,,,,,,
1501,0.016428,0.006237,0.006652,-0.014253,-0.084154,-0.066359,-0.156126,-0.234525,0.072727,0.563553,0.436447
480,-0.030632,0.012536,-0.051592,0.162988,0.109244,0.032160,0.257576,0.012903,0.077778,0.428455,0.571545
169,0.026978,-0.004342,0.054721,-0.113987,0.006266,-0.044380,0.233155,0.276316,0.066667,0.471057,0.528943
1309,0.062222,0.001493,0.061767,-0.116923,-0.055126,-0.013364,-0.094444,-0.008333,0.000000,0.526509,0.473491
1704,0.038077,-0.008546,0.072520,0.152632,-0.022511,-0.094093,-0.187500,-0.258065,0.000000,0.470642,0.529358

In [142]:
player_prob_merge["Prediction"] = predictions1

In [145]:
player_prob_merge["Actual"] = y_test

ValueError: cannot reindex from a duplicate axis

In [144]:
player_prob_merge.head(5)

,ace_pct,df_pct,first_serve_pct,broken_pct,breaking_pct,break_conversion_pct,surface_win_pct,player_hand_win_pct,parameters_value,player_1_prob,player_2_prob,Prediction
index,,,,,,,,,,,,
1501,0.016428,0.006237,0.006652,-0.014253,-0.084154,-0.066359,-0.156126,-0.234525,0.072727,0.563553,0.436447,0
480,-0.030632,0.012536,-0.051592,0.162988,0.109244,0.032160,0.257576,0.012903,0.077778,0.428455,0.571545,1
169,0.026978,-0.004342,0.054721,-0.113987,0.006266,-0.044380,0.233155,0.276316,0.066667,0.471057,0.528943,1
1309,0.062222,0.001493,0.061767,-0.116923,-0.055126,-0.013364,-0.094444,-0.008333,0.000000,0.526509,0.473491,0
1704,0.038077,-0.008546,0.072520,0.152632,-0.022511,-0.094093,-0.187500,-0.258065,0.000000,0.470642,0.529358,1

In [ ]:
players = merging_matching[["player_1", "player_2"]]

In [ ]:
players.head()

In [ ]:
final_result_1 = players.join(player_prob_merge, how  ="inner")

In [ ]:
final_result_1 = final_result_1.rename(index=str, columns={"player_1_prob": "player_2_prob","player_2_prob":"player_1_prob"})

In [ ]:
final_result_1.to_csv("results_predicting_all_2017.csv")

In [ ]:
final_result_1